{% extends 'catalog/home.html' %}
{% block title %}Блог{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{ blog.preview }}" class="img-fluid rounded-start" style="height: 12rem; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="card-text">{{ object.content }}</p>
                        <p class="card-text"><small class="text-muted">Количество просмотров: {{ object.view_counter }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">Создан: {{ blog.created_at }}</small></p>
                    </div>
                </div>

            </div>

        </div>
    <div class="text-center">
        <a type="button" class="btn btn-mb btn-block btn-outline-primary w-50" href="{% url 'blog:blog_list' %}">Назад</a>
    </div>

    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}