<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="bg-light p-4 d-flex flex-wrap">
    <a class="p-2 btn btn-outline-secondary" href="/">Главная</a>
    <a class="p-2 btn btn-outline-secondary" href="/blog/">Блог</a>
    <a class="p-2 btn btn-outline-secondary" href="/contacts/">Контакты</a>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'users:logout' %}">
      {% csrf_token %}
      <button type="submit" class="p-2 btn btn-outline-secondary">Выход</button>
    </form>
    {% else %}
    <a class="p-2 btn btn-outline-secondary" href="{% url 'users:login' %}">Вход</a>
    <a class="p-2 btn btn-outline-secondary" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}

  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>