<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="bg-light p-4">
    <a class="p-2 btn btn-outline-secondary" href="/">Главная</a>
    <a class="p-2 btn btn-outline-secondary" href="/blog/">Блог</a>
    <a class="p-2 btn btn-outline-secondary" href="/contacts/">Контакты</a>
  </div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>