{% extends 'catalog/home.html' %}

{% block content %}
<div class="d-flex justify-content-end">
        <a type="button" class="btn btn-lg btn-block btn-outline-secondary" href="{% url 'catalog:products_create' %}">Добавить товар</a>
</div>
<div class="container">

    <div class="row text-center">

        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>

                </div>
                <div class="card-body">
                    <p>Категория: {{ product.category }}</p>
                    <img src="/media/{{ product.image }}" class="img-fluid" style="height: 12rem; object-fit: cover;">

                    <p>{{ product.description|truncatechars:100 }}</p>

                    <h3 class="card-title pricing-card-title">{{ product.price }}</h3>
                    <div class="d-grid gap-1 col-10 mx-auto">

                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products_detail' product.pk %}">Подробнее о товаре</a>

                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products_update' product.pk %}">Изменить товар</a>

                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:products_delete' product.pk %}">Удалить</a>

                    </div>

                    </ul>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}