{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">

        <div class="col-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">

                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>

                </div>
                <div class="card-body">
                    <p>Категория: {{ object.category }}</p>
                    <img src="/media/{{ object.image }}" class="img-fluid" style="height: 12rem; object-fit: cover;">

                    <p>{{ object.description|truncatechars:100 }}</p>

                    <h3 class="card-title pricing-card-title">{{ object.price }}</h3>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/prod/{{ object.pk }}">Подробнее о товаре</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}